body{
    margin: 0;
}
.navbar{
    height: 80px;
    margin: 50px 50px 0px 50px;
    background-color: rgb(255, 255, 255) !important;
    border-radius: 50px;
}
/* body{
    margin: 0;
    background-image: url(images/banner3.jpg) !important;
    background-size:cover; 
    background-repeat: no-repeat; 
    background-position: center;
} */
#page1 {
    background-image: url(images/banner3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.4; */
    /* filter:alpha(opacity=40); */
    height:100%;
    width:100%;
    /* z-index:0.1; */
 
}
.col-4{
    width: 350px; 
    height: 450px; 
    margin-right: 20px; 
    text-align: center;
    color: white;
}